<h1>User Information</h1>
<h2>Add details to appear more enticing to other Programmers</h2>

<h3>About Me:</h3>
<%= form_for @user do |f| %>
  <%= f.label :details %> <br>
  <%= f.text_area :details, rows: 10, cols: 40 %> <br>
  <%= f.submit "That's what I'm about!" %>
<% end %>


<div id="checklist">
  <h3>Your Preferred Languages</h3>
  <%= form_tag({:controller => "users", :action => "update"}, method: :get) do %>
    <%= fields_for :language_ids do |ff| %>
      <ul>
        <% @languages.each do |language| %>
          <li>
            <%= ff.check_box(language.name, {}, language.id, nil) %>
            <%= language.name %>
          </li>
        <% end %>
      </ul>
      <%= ff.submit "Languages You Love" %>
    <% end %>
  <% end %>
</div>
