<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @partnership.user_id %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @partnership.partner_id %>
</p>

<p>
  <strong>Create:</strong>
  <%= @partnership.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @partnership.destroy %>
</p>

<%= link_to 'Edit', edit_partnership_path(@partnership) %> |
<%= link_to 'Back', partnerships_path %>
